#navesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    flex-direction: row; /* Horizontal */
}

.nave {
    display: block;
    margin: 0 auto;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    margin-bottom: 100px;
}


.nave:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.nave h2 {
    margin-bottom: 15px;
    font-size: 1.4em;
    font-family: 'Arial', sans-serif;
    color: #333;
    text-transform: uppercase;
}

.nave p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.nave .velo {
    font-weight: bold;
    color: #007BFF;
}

.nave .exploradores {
    font-style: italic;
    color: #ff6347;
}

.nave img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
}


/* Responsividad */
@media (max-width: 1024px) {
    #navesContainer {
        gap: 20px;
        padding: 10px;
    }

    .nave {
        width: 220px;
        padding: 15px;
    }

    .nave h2 {
        font-size: 1.2em;
    }

    .nave p {
        font-size: 0.9em;
    }

    .nave img {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    #navesContainer {
        gap: 15px;
        padding: 10px;
    }

    .nave {
        width: 180px;
        padding: 12px;
    }

    .nave h2 {
        font-size: 1.1em;
    }

    .nave p {
        font-size: 0.85em;
    }

    .nave img {
        margin-top: 5px;
    }
}

@media (max-width: 480px) {
    #navesContainer {
        gap: 10px;
        padding: 5px;
    }

    .nave {
        width: 160px;
        padding: 10px;
    }

    .nave h2 {
        font-size: 1em;
    }

    .nave p {
        font-size: 0.8em;
    }

    .nave img {
        margin-top: 5px;
    }
}
