/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f2f2;
}

.contenedor {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.card{
    margin-bottom: 1rem;
    color: #333;
}
.cardinfo{
    font-size: 20px;
    color: #333;
}
input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}
.btn-eliminar{
    margin-left: 100px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
button {
    padding: 0.7rem 1.5rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    margin-top: 1rem;
    text-align: left;
}

ul li {
    background-color: #e7f5e6;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    color: #2e7d32;
    font-weight: 500;
}
.card-fruta {
    background-color: #fffae6;
    border: 1px solid #f0c36d;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 8px 0;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
